FormatVersion: 2.0.0
Version: 1.0.0
Name: Restart Tomcat

Parameters:
  appName: $appName

Body: |
  return restart(args.appName).stdout

Scripts:
  restart:
    Type: Application
    Version: 1.0.0
    EntryPoint: restartTomcat.sh
    Files:
      - <installer.sh>
      - <common.sh>
    Options:
      captureStdout: true
      captureStderr: false
